body {
    background-color: whitesmoke;
}

.product-image img{
  width: 250px;
  height: 250px;
 }

 .card-container {
  display: flex;
  flex-flow: wrap;
  width: 90%;
 }

 .product-card {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
 }
